body{
    background-color: #d8d8d8;
}

.nav-gog{
    background-color:black;
}
.navbar-icone i{

    color:rgb(185, 173, 173);
}
#sign-in-navbarDropdown{
    color: #A06A8F;
}
.navbar-nav{

    padding-right: 10px

}
.carousel-indicators{
    margin-bottom: -30px;
}
.carousel-caption h3{
    position: absolute;
    left:0;
    bottom: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
    font-size:23px;
}
.carousel-caption .btn{
    position: absolute;
    right: 0px;
    bottom: 20px;
    background: linear-gradient(-180deg,#c1ec51,#80b02a);
    box-shadow: 0 0 28px 8px rgba(0,0,0,.19), 0 1px 5px 0 rgba(0,0,0,.5);
    height: 32px;
    border-radius: 3px;
    display:flex;
    align-items: center;
    cursor: pointer;
    letter-spacing: 1px;
}

.carousel-control-prev-icon{
    background-color: rgb(85, 77, 77);
    padding:12px;
    border-radius: 100%;
    border: 3px solid rgb(153, 144, 144);
    font-weight: lighter;
    margin-right: 5px;
    cursor: pointer;
  
    }
   
    .carousel-control-next-icon{
    background-color: rgb(85, 77, 77);
    padding:12px;
    border-radius: 100%;
    border: 3px solid rgb(153, 144, 144);
    font-weight: lighter;
    margin-left: 5px;
    cursor: pointer;
    

    
}

.card-body{
        padding:10px 10px 0 10px;
        height:120px;
    }
.btn-card{
    position: absolute;
    top:7px;
    left:9px;
  
    background: linear-gradient(-180deg,#c1ec51,#80b02a);
    color: rgb(252, 247, 247);
    border-radius: 3px;
    border: 0;
}
.badge-percent{
    background-color:#78387B;;
    border-radius: 3px;
    font-size:15px;
    padding: 7px;
}
.old{
    text-decoration: line-through;
    padding-bottom: 0;
}
    
.newgoggalaxy{

    color: #86328a;
    font-size: 14px;
    font-weight: bold;
    
}
.jumbotron{
    background-image: url(album/children\ of\ morta.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    height: 15vh;
    
    position: relative;
}
.checkmore .btn{
    border: 2px solid #fff;
    background: transparent;
    color: white;
    font-size:20px;
    position: absolute;
    bottom:0px;
    right:0px;

}
.checkmore .btn:hover{
    background-color:#80b02a ;
}

.navbartwo{
    background-color:#d8d8d8 ;
}

.card-img-top{
    width: 100%;
    height:400px

 
}
.color-card-first::after{
    content:"";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}

.percentage{
    position: absolute;
    top:50%;
    color:yellow;
    z-index:200;
    font-size:55px;
    left: 3.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
}
.up{
    position: absolute;
    top:47%;
    color:yellow;
    z-index:200;
    font-weight: 500;
    font-size:20px;
    left: 6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
}
.color-card-first .pc,
.color-card-second .pc,
.color-card-third .pc,
.color-card-fourth .pc{
    position: absolute;
    top:73%;
    color:white;
    z-index:200;
    font-weight: 500;
    font-size:20px;
    left: 1.5rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
}
.card-first .button-card,
.card-second .button-card,
.card-third .button-card,
.card-fourth .button-card{
    position: absolute;
    top:81%;
    color:white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    z-index:200;
    font-weight: 500;
    font-size:15px;
    left: 4rem;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
}
.card-second::after{
    content:"";
    position: absolute;
    background-color: rgba(182, 182, 182, 0.3);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card-second h4{
    position: absolute;
    top:40px;
    color:white;
    z-index:200;
    left: 0rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
}

.card-third::after{
    content:"";
    position: absolute;
    background-color: rgba(139, 125, 98, 0.5);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card-third h4{
    position: absolute;
    top:40px;
    color:white;
    z-index:200;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
    left: 2rem;
}
.card-fourth ::after{
    content:"";
    position: absolute;
    background:rgb(255,175,2);
    background: linear-gradient(0deg, rgba(255, 175, 2, 0.575) 0%, rgba(251, 152, 31, 0.637) 5%, rgba(255, 128, 1, 0.526) 70%);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card-fourth h4{
    position: absolute;
    top:40px;
    color:white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);
    z-index:200;
    left: 3rem;
}
.carousel-2 {
    margin-bottom: -60px;
}